<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Secret Santa</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/11117981/Bills/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.angularjs.org/1.2.20/angular.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/11117981/Bills/bootstrap.min.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
<!--    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>-->
    <script src="https://dl.dropboxusercontent.com/u/11117981/Bills/app.js"></script>
    <script src="app.js"></script>

</head>

<!-- apply our angular app -->

<body ng-app="app">
    <div ng-controller="SecretSantaController">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Enter Your Name</h2>
                    <input type="text" ng-model="textInput" class="form-control" placeholder="Your Name">
                    <button class="btn btn-primary" ng-click="getMyMatch()" style="margin-top:10px;">Find My Match</button>
                    <h2>{{yourMatch}}</h2>
                </div>
            </div>
        </div>
    </div>

</body>


</html>