<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="css/foundation-sites.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/fizzy-ui-utils/utils.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>
</head>

<body ng-app="masonryApp" ng-controller="DemoCtrl" ng-class="{'card-open' : cardOpen}">
    <div ng-init="setCardHeights()">
        <div >
            <div masonry preserve-order>
                <div class="masonry-brick card-brick" ng-repeat="project in projects" ng-click="toggleCard($index)" ng-class="{'open' : cardIndexOpen[$index], 'isLoaded' : isLoaded}">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="row align-justify card-heading">
                                <div>
                                    <img src="images/matt-bloom-circle.png">
                                </div>
                                <div>
                                    <p class="text-right date-status">{{project.date}}</p>
                                    <p class="text-right date-status">{{project.status}}</p>
                                </div>
                            </div>
                            <div class="row card-body">
                                <div class="small-12">
                                    <h3>{{project.title}}</h3>
                                </div>
                                <div class="small-12">
                                    <h4 class="requests">{{project.numRequests}} Requests</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        angular.module('masonryApp', ['wu.masonry', 'ngTouch']).
        controller('DemoCtrl', function ($scope, $timeout) {
            $scope.cardOpen = false;
            $scope.cardIndexOpen = [false, false, false, false, false];
            $scope.projects = [{
                title: "Sand Lake Expansion",
                date: "Jan 4, 2016",
                status: "On Track",
                numRequests: 3
            },{
                title: "907 Trust Distribution Changes Title",
                date: "Dec 2, 2015",
                status: "Overdue",
                numRequests: 1
            },{
                title: "907 Trust Distribution Changes Title",
                date: "Jan 4, 2016",
                status: "On Track",
                numRequests: 3
            },{
                title: "Sand Lake Expansion",
                date: "Jan 4, 2016",
                status: "On Track",
                numRequests: 3
            },{
                title: "Sand Lake Expansion",
                date: "Jan 4, 2016",
                status: "On Track",
                numRequests: 3
            }];

            $scope.toggleCard = function(index){
                $scope.cardOpen = !$scope.cardOpen;
                $scope.cardIndexOpen[index] = !$scope.cardIndexOpen[index];
            };

            $scope.setCardHeights = function () {
                console.log("here");
            $timeout(function () {
                var cards = $(".card-brick");
                for (var i = 0; i < cards.length; i++) {
                        $(cards[i]).height($(cards[i]).outerHeight());
                };
                $timeout(function(){$scope.isLoaded = true;}, 1000);
            });
        };

        });
    </script>
</body>

</html>
